body{
    background-image: url("imagescv/vecteezy_a-minimalist-artwork-simple-geometric_30657139.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: rgb(221, 128, 125);
    margin-left: 5vw;
    margin-right:5vw;
}